<section class="bottom">
    <div class="container bottom__container">
        <div class="flex flex-justify-s">
            <div class="bottom__nav flex flex-column flex-justify-s">
                <p class="bottom__navtitle">Навигация</p>
                <a href="catalog.html" class="bottom__link">Каталог</a>
                <a href="../pages/about.ejs" class="bottom__link">О нас</a>
                <a href="contacts.html" class="bottom__link">Контакты</a>
                <a href="cart.html" class="bottom__link">Корзина</a>
            </div>
            <div class="bottom__contacts flex flex-column flex-justify-s">
                <p class="bottom__navtitle">Контакты</p>
                <p class="bottom__contacts">ул. Сергеева, 3А</p>
                <p class="bottom__contacts">+79832493830</p>
            </div>
        </div>
    </div>
</section>
