<header class="header">
    <div class="header__logo">
        <a href="/"><img src="/static/img/logo.png" alt="" class="logo"></a>
    </div>
    <div class="header__nav">
        <div class="container">
            <div class="nav__items">
                <div class="nav__item nav__item-red">
                    <a href="/catalog" class="nav__link">Каталог</a>
                </div>
                <div class="nav__item">
                    <a href="/about" class="nav__link">О нас</a>
                </div>
                <div class="nav__item">
                    <a href="/contacts" class="nav__link">Контакты</a>
                </div>
                <div class="nav__item">
                    <a href="/cart" class="nav__link">Корзина</a>
                </div>
                <div class="nav__item nav__item-search">
                    <form action="/catalog" style="height: 100%;">
                        <input type="search" name="search" id="" placeholder="Поиск...">
                        <button type="submit" style="position: absolute; left:99999px">Найти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
