<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автозапчасти38</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body link="none" alink="none" vlink="none">
<%- include('../components/header'); %>

<section class="about">
        <div class="container about__container flex flex-column flex-justify-between">
            <p class="about__title">
                О нас:
            </p>
                <div class="flex flex-row flex-justify-between">
                    <div class="about__img">
                    </div>
                    <div class="about__text">
                        <br><b>Компания «Автозапчасти38»</b> — региональный дистрибьютор запасных частей для легковых автомобилей. Нашими партнерами являются известные в мире производители авто-компонентов.
                        <br>Широкий ассортимент и высокое качество товара - наши принципы.
                        <br>Мы постоянно расширяем ассортимент и складское наличие.
                        <br>Наша работа заключается не только в том, чтобы поставить нужную запчасть, но и в том, чтобы быть уверенными в качестве поставляемой продукции, так, как от этого зависит безопасность наших потребителей.
                        <br><b>На нашем сайте к вашим услугам:</b>
                        <ul>
                        <li>Реальные и конкурентоспособные цены;
                        <li>Поиск товаров в магазине;
                        <li>Покупка товара, не выходя из дома или офиса;
                        <li>Быстрое согласование товара с клиентом для подтверждения заказа;
                        </ul>
                        </div>
                </div>
                <div class="about__text-bottom">
                    <br>Мы всегда рады общению с нашими клиентами. Если у вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина - пишите нам, и мы с благодарностью примем ваше мнение во внимание:

                        <br><br><b>Электронная почта:</b> avtozapchasty38@mail.ru

                </div>
            </div>
        </div>
    </section>
<%- include('../components/footer'); %>

</body>
</html>
