<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автозапчасти38</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body link="none" alink="none" vlink="none">
    <%- include('../components/header'); %>
    <section class="cart">
        <div class=" container cart__container flex flex-column flex-justify-s">
            <p class="cart__title">
                Ваша корзина товаров:
            </p>
            <div class="cart__items">
            </div>
            <div class="cart__bottom flex flex-row flex-justify-end">
                <p class="cart__amount">Товаров в корзине: <span>0</span></p>
                <p class="cart__price">Итог: <span>0</span>руб.</p>
                <div class="cart__button"><a href="#" class="cart__buttonlink">Заказать</a></div>
            </div>
        </div>
    </section>
    <%- include('../components/footer'); %>
    <script type="application/javascript" src="/static/js/cart.js"></script>

</body>
</html>
